<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2020-02-01T07:55:44Z</date>
	<key>WorkspacePath</key>
	<string>/Users/WuTao/数据结构考研复习/链表/双链表/双链表.xcodeproj</string>
</dict>
</plist>
